%p#notice= notice

%p
  %b Title:
  = @workout_session.title
%p
  %b User:
  = @workout_session.user
%p
  %b When:
  = @workout_session.when
%p
  %b Start time:
  = @workout_session.start_time
%p
  %b End time:
  = @workout_session.end_time

= link_to 'Edit', edit_workout_session_path(@workout_session)
\|
= link_to 'Back', workout_sessions_path
