%h1 Listing workout_exercises

%table
  %thead
    %tr
      %th Exercise
      %th
      %th
      %th

  %tbody
    - @workout_exercises.each do |workout_exercise|
      %tr
        %td= workout_exercise.exercise
        %td= link_to 'Show', workout_exercise
        %td= link_to 'Edit', edit_workout_exercise_path(workout_exercise)
        %td= link_to 'Destroy', workout_exercise, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Workout exercise', new_workout_exercise_path
