%h1 Listing exercise_sets

%table
  %thead
    %tr
      %th Weight
      %th Reps
      %th Workout exercise
      %th
      %th
      %th

  %tbody
    - @exercise_sets.each do |exercise_set|
      %tr
        %td= exercise_set.weight
        %td= exercise_set.reps
        %td= exercise_set.workout_exercise
        %td= link_to 'Show', exercise_set
        %td= link_to 'Edit', edit_exercise_set_path(exercise_set)
        %td= link_to 'Destroy', exercise_set, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exercise set', new_exercise_set_path
